body{
    padding: 0;
    margin: 0;
}
.header{
    width:100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 254, 254);
}
.left_div{
  width:20%;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_div img{
    width:220px;
}
.center_div{
    width:60%;
    height:50px;
}
.center_div ul{
    display: flex;
    flex-direction: row; 
    margin-left: 3px;
}
ul li{
    list-style: none;
    padding-left: 19px;
    padding-top: 10px;
}
li a{
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
li a:hover{
    color:rgb(194, 194, 14);
    transition: 1s;
}
.right_div{
    width:20%;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.right_div img
{   
    width:30px;
    padding-top: 10px;
}
.main{
    padding-top: 120px;
}
.card1{
    margin-left: 50px;
}
.ios{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
.ios img{
    width: 80%;
    border-radius: 9px;
}
.buisness{
    margin-left: 50px;
}
.footer1{
    height:100px;
    margin-top: 50px;
}
.follow{
    display: inline-block;
    background-color: brown;
    width: 20%;
    margin-left: 50px;
}
.social_media{
    display: inline-block;
    background-color: aqua;
    width: 30%;
}
.back_to_top{
    display: inline-block;
    background-color: goldenrod;
    width: 45%;
}
footer{
    margin-top: 50px;
    background-color: beige;
    height: 350px;
    width: 100%;
}
table{
    width: 80%;
}
th{
    width: 600px;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;

}
td{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 6px;
    color: gray;
}
.center-table{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 150px;
    color:rgb(0, 0, 0);
}